.no-padding{
    padding:0px !important;
}

.innerColumnPadding{
    /*padding-bottom:0px !important;*/
    /*padding-top:0px !important;*/
    /*padding-right:0px !important;*/
}

.left{
    float: left;
    width: 5%;
    background-color: blue;
}

.right{
    float: right;
    width: 5%;
    background-color: red;;
}
.colUp{
    height:5px;
}

.colPreview{
    border: 1px dashed blue;
    height: 10px;
    margin-left:5px;
    margin-right:5px;
}
.colDown{
    height:5px;
}
.center{
    display: inline-block;
    width: 90%;
    border: 1px solid lightgray;

}
.centerPreview{
    width: 50% !important;
}
.dropPreview{
    width: 45% !important;
}
.columnDropPreview{
    border: 1px dashed lightgray;;
}

.buttonsPanel{
    text-align: right;
}