<div>
    <div id="col">
        <div class="row">
            <div data-field="topPanel" class="col-md-12">
                <div>
                    <div id="buttonsPanel" class="col-md-12 buttonsPanel">
                        <button type="button" data-field="teste" class="btn btn-xs btn-primary">
                            <i class="fa fa-file-movie-o"></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-danger" style="margin-right: 3px;">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div id="colUp">
                </div>
            </div>
            <div class="col-md-12">
                <div data-field="left" class="left"></div>
                <div data-field="content" class="center"></div>
                <div data-field="right" class="right"></div>
            </div>
            <div class="col-md-12">
                <div id="colDown">

                </div>
            </div>
        </div>
    </div>
</div>
