.no-padding{
    padding:0px !important;
}

.left{
    float: left;
    width: 5%;
}

.right{
    float: right;
    width: 5%;
}
.center{
    display: inline-block;
    width: 90%;
    border: 1px solid lightgray;

}
.centerPreview{
    width: 50% !important;
}
.dropPreview{
    width: 45% !important;
}
.columnDropPreview{
    border: 1px dashed lightgray;;
}