.no-padding{
    padding:0px !important;
}
.left{
    float: left;
    width: 5%;
    border-style:solid;
    border-color: yellow;
}
.right{
    float: right;
    width: 5%;
    border-style:solid;
    border-color: green;
}
.center{
    display: inline-block;
    width: 90%;
    /*width: 100%;*/
    border-style:solid;
    border-color: magenta;
}
.top{
    border-style:solid;
    border-color: chartreuse;
}
.bottom{
    border-style:solid;
    border-color: coral;
}