.container-border{
    border-style: solid;
    border-color: blue;
}

.columnColor1{
    /*border-style: solid;*/
    background-color: blue;

    /*same height*/
    /*margin-bottom: -99999px;*/
    /*padding-bottom: 99999px;*/
}

.columnColor2{
    /*border-style: solid;*/
    background-color: #b3d3e7;

    /*same height*/
    /*margin-bottom: -99999px;*/
    /*padding-bottom: 99999px;*/
}
.columnColor3{
    /*border-style: solid;*/
    background-color: #b94a48;

    /*same height*/
    /*margin-bottom: -99999px;*/
    /*padding-bottom: 99999px;*/
}
.border{
    border-style: solid;
    /*background-color: #b94a48;*/

    /*same height*/
    /*margin-bottom: -99999px;*/
    /*padding-bottom: 99999px;*/
}