<div class="">
    <div id="simpleDiv" class="container-fluid">

        <div class="row">
            <div id="equalheight">

                <div id="column1" class="col-md-3 color1">

                    <h2>Heading</h2>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>

                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>


                </div>
                <div id="slider" class="col-sm-1 slider demo">.</div>
                <div id="column2" class="col-md-3 color2">

                    <h2>Heading</h2>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>

                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>


                </div>

                <div id="slider2" class="col-sm-1 slider demo">.</div>

                <div id="column3" class="col-md-3 color3">

                    <h2>Heading</h2>

                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna mollis euismod. Donec sed odio dui. </p>

                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>


                </div>

                <div id="sliderInutil1" class="col-sm-1 demo"></div>
                <div id="sliderInutil2" class="col-sm-1 demo"></div>
            </div>
        </div>

    </div>
</div>