<div>
    <div id="container" class="container-fluid">

        <div id="row1" class="row rowColor">

            <div id="row1col1" class="col-md-4 columnColor2">
                <div id="row1col1Content"> 1</div>
            </div>
            <div id="row1col2"  class="col-md-4 columnColor1">
                <div id="row1col2Content" class="content2" class="border"> 2 </div>
            </div>
            <div id="row1col3"  class="col-md-4 columnColor3">
                <div id="row1col3Content"> 3</div>
            </div>

        </div>


        <div class="row rowColor">
            <div class="col-md-4 columnColor3">
                <div> 1</div>
            </div>
            <div class="col-md-4 columnColor1">
                <div> 2</div>
            </div>
            <div class="col-md-4 columnColor2">
                <div> s</div>
            </div>
        </div>
    </div>
</div>
