<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Test.css">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="column1" class="col-md-4 column1 .dimmed">
            <div onmouseover="console.log('content1')" class="content1">
                1
            </div>

            <div onmouseover="console.log('content11')" class="content11">
                2
            </div>

        </div>
        <div id="column2" class="col-md-4 column2">
            <div class="content2">
                2
            </div>
        </div>
        <div id="column3" class="col-md-4 column3">
            <div class="content3">
                3
            </div>
        </div>
    </div>
</div>
</body>
</html>