<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Test.css">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <div class="row rowColor">
        <div class="col-md-4 columnColor1">
            <div> 1 </div>
        </div>
        <div class="col-md-4 columnColor2">
            <div class="border"> 2 </div>
        </div>
        <div class="col-md-4 columnColor3">
            <div> 3 </div>
        </div>
    </div>
    <div class="row rowColor">
        <div class="col-md-4 columnColor3">
            <div> 1 </div>
        </div>
        <div class="col-md-4 columnColor1">
            <div> 2 </div>
        </div>
        <div class="col-md-4 columnColor2">
            <div>  s </div>
        </div>
    </div>
</div>
</body>
</html>